body {
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(77, 77, 77);
  font-size: 130%;

}
body::-webkit-scrollbar {
  display: none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  display: flex;
  flex-direction: column;
}

.Content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Left {
  width: 50%;
  padding: 1%;
  display: flex;
  justify-content: center;
  border-right: #3d3d3d 1px solid;
}

.Right {
  width: 50%;
  padding: 1%;
  display: row;
  justify-content: center;
  align-items: center;
  border-left: #3d3d3d 1px solid;

}
/* ToolTip */
.tooltip {
  position: relative;
  display: inline-block;
  color:  rgb(165, 88, 88) ;
  border-bottom: 1px double;
  cursor:alias;
}

.tooltip .tooltiptext {
  visibility: hidden;
  opacity: 0;
  width: 300px;
  background-color: rgba(255, 255, 255, 0.705);
  color: #000000;
  text-align: center;
  border: #000000 solid 1px;
  padding: 2px 0;
  transition: 0.27s;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 105%;

}
.tooltiptext{
  width: 300px;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
  cursor:default;

  
}
/* ToolTip */

.modelos{
  display: flex;
  justify-content:space-around;
}
/* RADIOS */
.Radios {
  width: 100%;
}
.TableModelos{
  background-color: rgb(0, 0, 0);
  width: 100%;

}
.HeadTableModelos{
  background-color: rgb(160, 160, 160);
}
.BodyTableModelos{
display: flex;
flex-direction: column;
}
.ThRightStyle{
  width: 12%;

}
.NombresModelos{
  background-color: rgb(168, 150, 150);
  width: 100%;
}
.InputsModelos{
  background-color: rgb(139, 33, 200);
}
/* RADIOS */
/*NAV*/
#logoImg {
  width: 50px;
}
/*NAV*/
.divr{
  border: 1px solid black;
  height: 50px;
}
/*TABLE**************************/
.co0{
  background-color:#85C1E9;
}
.co1{
  background-color:#631491;
}
.RightTable{
  background-color:rgb(200, 108, 33);
  width:25%;
  
}
.LeftTable{
  width:50%;
  padding-left: 10px;
}

.ButtonNextStepTable{
  color: #9b1b1b;
}

.LT0{
  background-color:#616161;
}
.LT1{
  background-color:#959595;
}

.RadiosTable{
  height: 70%;
  width: 100%;
  border:solid black 1px;
  background-color:#000000;
}

.RadiosTableTr{
  height: 10px;
}
/*TABLE**************************/
/*NAVBAR********************************/
.nav{
  padding: 5px;
  background-color: rgb(184, 47, 47);

}
.botonesNavSeccion{
  display: flex;

}
.NavBarLeft{
  width: 20%;
}

.botonesNav{
  display: flex;
  justify-content: space-evenly;
  width: 60%;
  text-decoration: none;

}
.NavBarRight{
  display: flex;
  justify-content: right;
  width: 20%;
}

.boton{
  width: 16%;
  background-color: inherit;
  border: black solid 2px;
  border-radius: 4px;
  box-shadow: 2px 1px 1px 1px ;
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;


}
.activo{
  background-color: #48e76a;
  cursor: default;
}
.admin{
  width: 25%;
  background-color: #d47d20;
}
/*NAVBAR********************************/
/*FOOTER********************************/
/*section1********************************/
.footersection1{
  display: flex;
  justify-content: center;
}

/*Form2Comprar********************************/

.SupTagRequiered{
  color: rgba(179, 27, 27, 0.822);
}

/* .PurchaseButton{

  background-color: ;
} */

/*Form2Comprar********************************/
.footersection2{
  background-color: #ad793e /*#9b7850*/;
  height: 15%;
}

/*section2********************************/



/*FOOTER********************************/


/*Form Left**********************************************/
.FormLeft{
  display: flex;
  flex-direction: column;

}
.TextLeftForm{
  width: 100px;
  height: 18px;
}
.DivForFromStyle{
  border: solid rgb(97, 97, 97) 1px;
  border-radius: 10px;
  padding: 10%;
}

.AllContainer{
  padding: 1%;
  width: 50%;
}
.InputTextStyleExtern{
  padding: 3px;
  padding-right:0;
  border: black solid 1px;
  border-right: none;
  display: flex;
  justify-content: end;
  align-items: center;
  width: 140px;
  height: 20px;
  background-color: rgba(25, 200, 25, 0.705);
}
.InputTextStyleIntern{
  width: 110px;
  height: 22px;


}
.Inverted{
  justify-content: start;
  border-left: none;
  padding-left: 0;
  border-right: black solid 1px;
  padding-right: 3px;
  background-color: rgba(100, 150, 235, 0.705);
}
.AdjustHSize{
  font-size: 70%;
}
.LabelStyle{
  color:#b9b9b9;
  text-decoration: underline;
}

.LabelStyleExtern{
  padding: 5px;
  padding-left:0px ;
}

/*Form Left**********************************************/
/*MiddleForm*********************************************/
.MiddleForm{
  width: 100%;
  zoom: 3;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

}
.MiddleStyle{
  padding: 5%;
  width: 20%;
  border: black solid ;
}
.PasswordInput{
  width: 50%;
}
.PasswordH1{
  font-size: 100%;
}
/*MiddleForm**********************************************/
/*Admin***************************************************/

.TableAdmin{
  width: 100%;
  background-color: azure;
  border: black solid 1px;
}
.TrAdminTable{
  background-color: rgb(173, 171, 30);
  width: 100%;
}
.AdminIndex{
  background-color: rgb(20, 240, 55);
  
}
.F0{
  background-color: rgb(165, 68, 68);
}
.F1{
  background-color: rgb(85, 192, 163);
}
#Printer{
  width: 30px;
}
/*Admin***************************************************/
/*Detalles************************************************/
/* .DetallesSection{
  border: black dashed  1px;
} */
.DetallesElement1{
  border: black solid 60px;
  width: 100%;
}
.DetallesLogo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
#logoImgDetalles{
  width: 100px;
  height: 50px;
}
.ClientName{
  display: flex;
  justify-content: end;
}
/*Detalles************************************************/

/*Progresbar**********************************************/
/* .ContainerStepProgressBar{
  width: 100%;

}
.StepProgressBar{
  counter-reset: step;
}
.StepProgressBar li {
  list-style-type: none;
  float: left;
  width: 33.33%;
  position: relative;
  text-align: center;
}
.StepProgressBar li::before {
  content: counter(step);
  counter-increment: step;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border: 1px solid #ddd;
  display: block;
  text-align: center;
  margin: 0 auto 10px;
  border-radius: 50%;
  background-color: white;
}
.StepProgressBar li:after{
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #ddd;
  top: 25px;
  left: -50%;
  z-index: -1;
}
.StepProgressBar li:first-child:after{
  content: none;
}
.StepProgressBar li.ActiveStep{
  color: green;
}
.StepProgressBar li.ActiveStep::before{
  border-color: green;
}
.StepProgressBar li.ActiveStep + li:after{
  background-color: green;
} */
/*Static Styles*//* 
.SectionStepProgressBar{
  padding: 0% 20% 1% 20%;
}
.ContainerStepProgressBar ul{
  width: 100%;
  padding-left: 0;
  margin-left: 0;
  list-style: none;
}

.StepProgressBarInner{
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  float: left;
  width: 100%;
  position: relative;
  text-align: center;

}
.StepProgressBarStyle{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  border: solid 3px #d6d2d8;
  background-color: rgb(255, 255, 255);
  box-shadow: 6px 1px 33px rgba(0, 0, 0, 0.4); 
  font-size: 40px;
  color: black;
  
}
.StepProgressBarText li{
  width: 33%;
  display: flex;
  justify-content: space-around;  
} */
/*Static Styles*/
/*Diferent Styles*/
/* .StepProgressBarStyle.ActiveStep{
  border: solid 3px rgb(2, 172, 172);
  color: rgb(2, 172, 172);

}
.CompletedStep{
  border: solid 3px rgb(9, 98, 5);
  background-color: green;
  
}
.PreviousStep{
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.4) inset; 
  color: gray;
  background-color: gainsboro;
  border: solid 3px rgb(63, 63, 63);

}
.StepProgressBarExternalText{
  color: #000000;
}
.PreviousStepText{
  color: gray;
}
.ActiveStepText{
  color: rgb(2, 172, 172);
}
.CompletedStepText{
  color: green;
} */
/*Diferent Styles*/
/* Content *//* 
.StepProgressBarContenido0::after{
  content: "1";
  
}
.StepProgressBarContenido1::after{
  content: "2";
}
.StepProgressBarContenido2::after{
  content: "3";
}
.StepProgressBarText li:first-child::after {
  content: "Presupuesto";
}
.StepProgressBarText li:nth-child(2)::after {
  content: "Datos";

}
.StepProgressBarText li:last-child::after {
  content: "Metodo de pago";

} */
/* Content */

/*Progresbar**********************************************/