body {
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  display: flex;
  flex-direction: column;
}

.Content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Left {
  width: 50%;
  border: 1px solid red;
  padding: 1%;
  display: flex;
  justify-content: center;

}

.Right {
  width: 50%;
  border: 1px solid green;
}
.modelos{
  display: flex;
  justify-content:space-around;
}

.Radios {
  display: grid;
  width: 100%;
  grid-template-columns: 150px 1fr;
}
/*NAV*/
#logoImg {
  width: 50px;
}
/*NAV*/
.divr{
  border: 1px solid black;
  height: 50px;
}
/*TABLE**************************/
.co0{
  background-color:#85C1E9;
}
.co1{
  background-color:#631491;
}
.RightTable{
  background-color:#b653d4;
  width:25%;
}
.LeftTable{
  width:50%;
}
.LT0{
  background-color:#54b8e3;
}
.LT1{
  background-color:#5473e3;
}
table{

  height: 200px;
  width: 100%;
  border:solid black 1px;
  background-color:#a834eb;
}
/*TABLE**************************/
/*NAVBAR********************************/
.nav{
  padding: 5px;
  background-color: #54bae3;

}
.botonesNavSeccion{
  display: flex;

}
.NavBarLeft{
  width: 20%;
}

.botonesNav{
  display: flex;
  justify-content: space-evenly;
  width: 60%;
  text-decoration: none;

}
.NavBarRight{
  display: flex;
  justify-content: right;
  width: 20%;
}

.boton{
  width: 16%;
  background-color: inherit;
  border: black solid 2px;
  border-radius: 4px;
  box-shadow: 2px 1px 1px 1px ;
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;


}
.activo{
  background-color: #48e76a;

}
.admin{
  width: 25%;
  background-color: #d47d20;
}
/*NAVBAR********************************/
/*FOOTER********************************/
/*section1********************************/
.footersection1{
  display: flex;
  justify-content: center;
}

/*section1********************************/

/*section2********************************/
.footersection2{
  background-color: #ad793e /*#9b7850*/;
  height: 15%;
}

/*section2********************************/



/*FOOTER********************************/
/*TABLA ADMIN****************************************/
.cabezaadmin{
  background-color: #6221a0;
}
.F0{
  background-color: #54bae3;
}
.F1{
  background-color: brown;
}
/*TABLA ADMIN****************************************/

/*Form Left**********************************************/
.FormLeft{
  display: flex;
  flex-direction: column;

}
.TextLeftForm{
  width: 100px;
  height: 18px;
}
/*Form Left**********************************************/
/*MiddleForm*********************************************/
.middleForm{
  width: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
